In [1]:
import pandas as pd

In [7]:
html_tables = pd.read_html('https://hoopshype.com/salaries/players/')
type(html_tables)

list

In [8]:
len(html_tables)

1

In [28]:
type(html_tables[0])

pandas.core.frame.DataFrame

In [29]:
NBA_players_df = html_tables[0]
NBA_players_df.head()

,Unnamed: 0,Player,2021/22,2022/23,2023/24,2024/25,2025/26,2026/27
0,1.0,Stephen Curry,"$45,780,966","$48,070,014","$51,915,615","$55,761,217","$59,606,817",$0
1,2.0,James Harden,"$44,310,840","$47,366,760",$0,$0,$0,$0
2,2.0,John Wall,"$44,310,840","$47,366,760",$0,$0,$0,$0
3,4.0,Russell Westbrook,"$44,211,146","$47,063,478",$0,$0,$0,$0
4,5.0,LeBron James,"$41,180,544","$44,474,988",$0,$0,$0,$0

### Let's do another trial

In [30]:
tables_in_wikipedia_page = pd.read_html('https://en.wikipedia.org/wiki/Egypt_national_football_team')
len(tables_in_wikipedia_page)

80

#### There're 80 tables!!!, so let's try to be more specific

In [31]:
more_specific_tables_in_wikipedia_page = pd.read_html('https://en.wikipedia.org/wiki/Egypt_national_football_team', match='Top goalscorers')
len(more_specific_tables_in_wikipedia_page)

2

In [32]:
more_specific_tables_in_wikipedia_page[0]

,0,1,2,3,4,5
0,Most appearances Rank Player Caps Goals Career...,Top goalscorers Rank Player Goals Caps Ratio C...,Ahmed Hassan has the most caps of any African ...,NaN,NaN,NaN
1,Rank,Player,Caps,Goals,Career,NaN
2,1,Ahmed Hassan,184,33,1995–2012,NaN
3,2,Hossam Hassan[a],176,68,1985–2006,NaN
4,3,Essam El Hadary,159,0,1996–2018,NaN
5,4,Ahmed Fathy,136,3,2002–present,NaN
6,5,Ibrahim Hassan,131,14,1988–2002,NaN
7,6,Hany Ramzy,123,3,1988–2003,NaN
8,7,Wael Gomaa,114,1,2001–2013,NaN
9,8,Ahmed El Kass,112,25,1987–1997,NaN
10,8,Abdel Zaher El Sakka,112,4,1997–2010,NaN
11,10,Rabie Yassin,109,1,1982–1991,NaN
12,Rank,Player,Goals,Caps,Ratio,Career
13,1,Hossam Hassan[a] (list),68,176,0.39,1985–2006
14,2,Mohamed Salah,45,74,0.61,2011–present
15,3,Hassan El Shazly,42,62,0.68,1961–1975
16,4,Mohamed Abou Trika,38,100,0.38,2001–2013
17,5,Ahmed Hassan,33,184,0.18,1995–2012
18,6,Amr Zaki,30,63,0.48,2004–2013
19,7,Emad Moteab,28,70,0.4,2004–2015
20,8,Ahmed El Kass,25,112,0.22,1987–1997
21,9,Mahmoud El Khatib,24,54,0.44,1974–1986
22,9,Gamal Abdel Hamid,24,79,0.3,1979–1993

In [33]:
more_specific_tables_in_wikipedia_page[1]

   Rank                   Player  Goals  Caps  Ratio        Career
0     1  Hossam Hassan[a] (list)     68   176   0.39     1985–2006
1     2            Mohamed Salah     45    74   0.61  2011–present
2     3         Hassan El Shazly     42    62   0.68     1961–1975
3     4       Mohamed Abou Trika     38   100   0.38     2001–2013
4     5             Ahmed Hassan     33   184   0.18     1995–2012
5     6                 Amr Zaki     30    63   0.48     2004–2013
6     7              Emad Moteab     28    70   0.40     2004–2015
7     8            Ahmed El Kass     25   112   0.22     1987–1997
8     9        Mahmoud El Khatib     24    54   0.44     1974–1986
9     9        Gamal Abdel Hamid     24    79   0.30     1979–1993

In [34]:
historical_goalers_of_Egypt_df = more_specific_tables_in_wikipedia_page[1]
historical_goalers_of_Egypt_df

   Rank                   Player  Goals  Caps  Ratio        Career
0     1  Hossam Hassan[a] (list)     68   176   0.39     1985–2006
1     2            Mohamed Salah     45    74   0.61  2011–present
2     3         Hassan El Shazly     42    62   0.68     1961–1975
3     4       Mohamed Abou Trika     38   100   0.38     2001–2013
4     5             Ahmed Hassan     33   184   0.18     1995–2012
5     6                 Amr Zaki     30    63   0.48     2004–2013
6     7              Emad Moteab     28    70   0.40     2004–2015
7     8            Ahmed El Kass     25   112   0.22     1987–1997
8     9        Mahmoud El Khatib     24    54   0.44     1974–1986
9     9        Gamal Abdel Hamid     24    79   0.30     1979–1993