In [2]:
#q2
import psycopg2

In [3]:

params_dic = {
    "host"      : "localhost",
    "database"  : "explorationDB",
    "user"      : "postgres",
    "password"  : "sarah123"
}

conn = psycopg2.connect(**params_dic)
cursor1 = conn.cursor()

In [4]:
cursor1.execute('select * from employees')

In [5]:
cursor3 = conn.cursor()

In [6]:
cursor3.execute('select c.customer_id ,company_name ,city,country ,count(order_id) as orders_count from customers c left outer join orders o on c.customer_id=o.customer_id group by c.customer_id ')

In [7]:
import pandas as pd
df = pd.DataFrame(cursor3.fetchall() ,columns=['customer_id','company_name','city','country','orders_count'])

In [8]:
df.head(50)

,customer_id,company_name,city,country,orders_count
0,TOMSP,Toms Spezialitäten,Münster,Germany,6
1,LONEP,Lonesome Pine Restaurant,Portland,USA,8
2,OLDWO,Old World Delicatessen,Anchorage,USA,10
3,WARTH,Wartian Herkku,Oulu,Finland,15
4,MAGAA,Magazzini Alimentari Riuniti,Bergamo,Italy,10
5,QUEEN,Queen Cozinha,Sao Paulo,Brazil,13
6,VINET,Vins et alcools Chevalier,Reims,France,5
7,ANTON,Antonio Moreno Taquería,México D.F.,Mexico,7
8,MORGK,Morgenstern Gesundkost,Leipzig,Germany,5
9,GOURL,Gourmet Lanchonetes,Campinas,Brazil,9
10,WOLZA,Wolski Zajazd,Warszawa,Poland,7
11,GALED,Galería del gastrónomo,Barcelona,Spain,5
12,RATTC,Rattlesnake Canyon Grocery,Albuquerque,USA,18
13,WELLI,Wellington Importadora,Resende,Brazil,9
14,WILMK,Wilman Kala,Helsinki,Finland,7
15,FURIB,Furia Bacalhau e Frutos do Mar,Lisboa,Portugal,8
16,DUMON,Du monde entier,Nantes,France,4
17,FRANK,Frankenversand,München,Germany,15
18,FAMIA,Familia Arquibaldo,Sao Paulo,Brazil,7
19,TORTU,Tortuga Restaurante,México D.F.,Mexico,10
20,FRANS,Franchi S.p.A.,Torino,Italy,6
21,PRINI,Princesa Isabel Vinhos,Lisboa,Portugal,5
22,RANCH,Rancho grande,Buenos Aires,Argentina,5
23,PERIC,Pericles Comidas clásicas,México D.F.,Mexico,6
24,CONSH,Consolidated Holdings,London,UK,3
25,ISLAT,Island Trading,Cowes,UK,10
26,LEHMS,Lehmanns Marktstand,Frankfurt a.M.,Germany,15
27,ALFKI,Alfreds Futterkiste,Berlin,Germany,6
28,VICTE,Victuailles en stock,Lyon,France,10
29,RICAR,Ricardo Adocicados,Rio de Janeiro,Brazil,11
30,FOLIG,Folies gourmandes,Lille,France,5
31,LINOD,LINO-Delicateses,I. de Margarita,Venezuela,12
32,ANATR,Ana Trujillo Emparedados y helados,México D.F.,Mexico,4
33,LAZYK,Lazy K Kountry Store,Walla Walla,USA,2
34,QUICK,QUICK-Stop,Cunewalde,Germany,28
35,THEBI,The Big Cheese,Portland,USA,4
36,CHOPS,Chop-suey Chinese,Bern,Switzerland,8
37,GROSR,GROSELLA-Restaurante,Caracas,Venezuela,2
38,LACOR,La corne d'abondance,Versailles,France,4
39,FRANR,France restauration,Nantes,France,3
40,HUNGO,Hungry Owl All-Night Grocers,Cork,Ireland,19
41,OTTIK,Ottilies Käseladen,Köln,Germany,10
42,AROUT,Around the Horn,London,UK,13
43,KOENE,Königlich Essen,Brandenburg,Germany,14
44,MEREP,Mère Paillarde,Montréal,Canada,13
45,BLAUS,Blauer See Delikatessen,Mannheim,Germany,7
46,LAUGB,Laughing Bacchus Wine Cellars,Vancouver,Canada,3
47,THECR,The Cracker Box,Butte,USA,3
48,BOLID,Bólido Comidas preparadas,Madrid,Spain,3
49,BONAP,Bon app',Marseille,France,17

In [11]:
df=df[df.orders_count ==0]

In [12]:
df

,customer_id,company_name,city,country,orders_count
63,FISSA,FISSA Fabrica Inter. Salchichas S.A.,Madrid,Spain,0
81,PARIS,Paris spécialités,Paris,France,0

In [13]:
df.to_csv("panas_dataset_2from_sql.csv", index=False)

In [14]:
cursor1.close()
cursor3.close()
conn.close()