In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("../datasets/surveys_3.csv", index_col=0)
df

,month,day,year,plot_id,hindfoot_length,weight,sex_F,sex_M,species_id_AB,species_id_AH,...,species_id_SH,species_id_SO,species_id_SS,species_id_ST,species_id_SU,species_id_UL,species_id_UP,species_id_UR,species_id_US,species_id_ZL
record_id,,,,,,,,,,,,,,,,,,,,,
1,7,16,1977,2,32.000000,0.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7,16,1977,3,33.000000,0.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7,16,1977,2,37.000000,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7,16,1977,7,36.000000,0.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,7,16,1977,3,35.000000,0.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35545,12,31,2002,15,29.287932,0.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
35546,12,31,2002,15,29.287932,0.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
35547,12,31,2002,10,15.000000,14.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35548,12,31,2002,7,36.000000,51.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
35549,12,31,2002,5,29.287932,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
normalized_df=(df-df.min())/(df.max()-df.min())
normalized_df

,month,day,year,plot_id,hindfoot_length,weight,sex_F,sex_M,species_id_AB,species_id_AH,...,species_id_SH,species_id_SO,species_id_SS,species_id_ST,species_id_SU,species_id_UL,species_id_UP,species_id_UR,species_id_US,species_id_ZL
record_id,,,,,,,,,,,,,,,,,,,,,
1,0.545455,0.5,0.0,0.043478,0.441176,0.000000,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.545455,0.5,0.0,0.086957,0.455882,0.000000,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.545455,0.5,0.0,0.043478,0.514706,0.000000,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.545455,0.5,0.0,0.260870,0.500000,0.000000,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.545455,0.5,0.0,0.086957,0.485294,0.000000,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35545,1.000000,1.0,1.0,0.608696,0.401293,0.000000,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35546,1.000000,1.0,1.0,0.608696,0.401293,0.000000,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35547,1.000000,1.0,1.0,0.391304,0.191176,0.050000,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35548,1.000000,1.0,1.0,0.260870,0.500000,0.182143,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35549,1.000000,1.0,1.0,0.173913,0.401293,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

##### in case of Standardization, here's the needed formula:
(df-df.mean())/df.std()