In [31]:
import pandas as pd

In [32]:
df = pd.read_csv("../datasets/surveys_3.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35549 entries, 0 to 35548
Data columns (total 57 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   record_id        35549 non-null  int64
 1   month            35549 non-null  int64
 2   day              35549 non-null  int64
 3   year             35549 non-null  int64
 4   plot_id          35549 non-null  int64
 5   hindfoot_length  35549 non-null  float64
 6   weight           35549 non-null  float64
 7   sex_F            35549 non-null  int64
 8   sex_M            35549 non-null  int64
 9   species_id_AB    35549 non-null  int64
 10  species_id_AH    35549 non-null  int64
 11  species_id_AS    35549 non-null  int64
 12  species_id_BA    35549 non-null  int64
 13  species_id_CB    35549 non-null  int64
 14  species_id_CM    35549 non-null  int64
 15  species_id_CQ    35549 non-null  int64
 16  species_id_CS    35549 non-null  int64
 17  species_id_CT    35549 non-null  int64
 18  species_id_CU    35549 non-null  int64
 19  species_id_CV    35549 non-null  int64
 20  species_id_DM    35549 non-null  int64
 21  species_id_DO    35549 non-null  int64
 22  species_id_DS    35549 non-null  int64
 23  species_id_DX    35549 non-null  int64
 24  species_id_NL    35549 non-null  int64
 25  species_id_OL    35549 non-null  int64
 26  species_id_OT    35549 non-null  int64
 27  species_id_OX    35549 non-null  int64
 28  species_id_PB    35549 non-null  int64
 29  species_id_PC    35549 non-null  int64
 30  species_id_PE    35549 non-null  int64
 31  species_id_PF    35549 non-null  int64
 32  species_id_PG    35549 non-null  int64
 33  species_id_PH    35549 non-null  int64
 34  species_id_PI    35549 non-null  int64
 35  species_id_PL    35549 non-null  int64
 36  species_id_PM    35549 non-null  int64
 37  species_id_PP    35549 non-null  int64
 38  species_id_PU    35549 non-null  int64
 39  species_id_PX    35549 non-null  int64
 40  species_id_RF    35549 non-null  int64
 41  species_id_RM    35549 non-null  int64
 42  species_id_RO    35549 non-null  int64
 43  species_id_RX    35549 non-null  int64
 44  species_id_SA    35549 non-null  int64
 45  species_id_SC    35549 non-null  int64
 46  species_id_SF    35549 non-null  int64
 47  species_id_SH    35549 non-null  int64
 48  species_id_SO    35549 non-null  int64
 49  species_id_SS    35549 non-null  int64
 50  species_id_ST    35549 non-null  int64
 51  species_id_SU    35549 non-null  int64
 52  species_id_UL    35549 non-null  int64
 53  species_id_UP    35549 non-null  int64
 54  species_id_UR    35549 non-null  int64
 55  species_id_US    35549 non-null  int64
 56  species_id_ZL    35549 non-null  int64
dtypes: float64(2), int64(55)
memory usage: 15.5 MB

In [33]:
df.head()

,record_id,month,day,year,plot_id,hindfoot_length,weight,sex_F,sex_M,species_id_AB,...,species_id_SH,species_id_SO,species_id_SS,species_id_ST,species_id_SU,species_id_UL,species_id_UP,species_id_UR,species_id_US,species_id_ZL
0,1,7,16,1977,2,32.0,0.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,7,16,1977,3,33.0,0.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3,7,16,1977,2,37.0,0.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,7,16,1977,7,36.0,0.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,7,16,1977,3,35.0,0.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

## Equal-Width Discretization

In [34]:
pd.cut(df['weight'], 8)

0        (-0.28, 35.0]
1        (-0.28, 35.0]
2        (-0.28, 35.0]
3        (-0.28, 35.0]
4        (-0.28, 35.0]
             ...
35544    (-0.28, 35.0]
35545    (-0.28, 35.0]
35546    (-0.28, 35.0]
35547     (35.0, 70.0]
35548    (-0.28, 35.0]
Name: weight, Length: 35549, dtype: category
Categories (8, interval[float64, right]): [(-0.28, 35.0] < (35.0, 70.0] < (70.0, 105.0] < (105.0, 140.0] < (140.0, 175.0] < (175.0, 210.0] < (210.0, 245.0] < (245.0, 280.0]]

In [35]:
pd.cut(df['weight'], 8, 
       labels=['weight_range1', 'weight_range2', 'weight_range3', 'weight_range4',
               'weight_range5', 'weight_range6', 'weight_range7', 'weight_range8'])

0        weight_range1
1        weight_range1
2        weight_range1
3        weight_range1
4        weight_range1
             ...
35544    weight_range1
35545    weight_range1
35546    weight_range1
35547    weight_range2
35548    weight_range1
Name: weight, Length: 35549, dtype: category
Categories (8, object): ['weight_range1' < 'weight_range2' < 'weight_range3' < 'weight_range4' < 'weight_range5' < 'weight_range6' < 'weight_range7' < 'weight_range8']

In [36]:
pd.get_dummies(
    pd.cut(df['weight'], 8, 
       labels=['weight_range1', 'weight_range2', 'weight_range3', 'weight_range4', 
               'weight_range5', 'weight_range6', 'weight_range7', 'weight_range8'])
)

,weight_range1,weight_range2,weight_range3,weight_range4,weight_range5,weight_range6,weight_range7,weight_range8
0,1,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
35544,1,0,0,0,0,0,0,0
35545,1,0,0,0,0,0,0,0
35546,1,0,0,0,0,0,0,0
35547,0,1,0,0,0,0,0,0
35548,1,0,0,0,0,0,0,0

In [37]:
pd.get_dummies(
    pd.cut(df['weight'], 8, 
       labels=['weight_range1', 'weight_range2', 'weight_range3', 'weight_range4', 
               'weight_range5', 'weight_range6', 'weight_range7', 'weight_range8'])
).tail(50)

,weight_range1,weight_range2,weight_range3,weight_range4,weight_range5,weight_range6,weight_range7,weight_range8
35499,1,0,0,0,0,0,0,0
35500,0,1,0,0,0,0,0,0
35501,1,0,0,0,0,0,0,0
35502,1,0,0,0,0,0,0,0
35503,1,0,0,0,0,0,0,0
35504,1,0,0,0,0,0,0,0
35505,1,0,0,0,0,0,0,0
35506,0,1,0,0,0,0,0,0
35507,1,0,0,0,0,0,0,0
35508,0,1,0,0,0,0,0,0
35509,1,0,0,0,0,0,0,0
35510,1,0,0,0,0,0,0,0
35511,1,0,0,0,0,0,0,0
35512,1,0,0,0,0,0,0,0
35513,1,0,0,0,0,0,0,0
35514,1,0,0,0,0,0,0,0
35515,0,1,0,0,0,0,0,0
35516,0,1,0,0,0,0,0,0
35517,0,1,0,0,0,0,0,0
35518,0,1,0,0,0,0,0,0
35519,0,1,0,0,0,0,0,0
35520,0,1,0,0,0,0,0,0
35521,0,1,0,0,0,0,0,0
35522,0,1,0,0,0,0,0,0
35523,1,0,0,0,0,0,0,0
35524,1,0,0,0,0,0,0,0
35525,1,0,0,0,0,0,0,0
35526,0,1,0,0,0,0,0,0
35527,1,0,0,0,0,0,0,0
35528,1,0,0,0,0,0,0,0
35529,1,0,0,0,0,0,0,0
35530,1,0,0,0,0,0,0,0
35531,0,1,0,0,0,0,0,0
35532,0,1,0,0,0,0,0,0
35533,0,1,0,0,0,0,0,0
35534,0,1,0,0,0,0,0,0
35535,0,1,0,0,0,0,0,0
35536,0,1,0,0,0,0,0,0
35537,1,0,0,0,0,0,0,0
35538,0,1,0,0,0,0,0,0
35539,1,0,0,0,0,0,0,0
35540,1,0,0,0,0,0,0,0
35541,1,0,0,0,0,0,0,0
35542,1,0,0,0,0,0,0,0
35543,1,0,0,0,0,0,0,0
35544,1,0,0,0,0,0,0,0
35545,1,0,0,0,0,0,0,0
35546,1,0,0,0,0,0,0,0
35547,0,1,0,0,0,0,0,0
35548,1,0,0,0,0,0,0,0

In [38]:
df_weight_discretized_equal_width = pd.concat([df, 
                                               pd.get_dummies(pd.cut(df['weight'], 8, 
                                               labels=['weight_range1', 'weight_range2', 
                                                       'weight_range3', 'weight_range4', 
                                                       'weight_range5', 'weight_range6', 
                                                       'weight_range7', 'weight_range8'])
                                            )], axis=1)
del df_weight_discretized_equal_width['weight']
df_weight_discretized_equal_width

,record_id,month,day,year,plot_id,hindfoot_length,sex_F,sex_M,species_id_AB,species_id_AH,...,species_id_US,species_id_ZL,weight_range1,weight_range2,weight_range3,weight_range4,weight_range5,weight_range6,weight_range7,weight_range8
0,1,7,16,1977,2,32.000000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,2,7,16,1977,3,33.000000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,3,7,16,1977,2,37.000000,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,4,7,16,1977,7,36.000000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,5,7,16,1977,3,35.000000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,29.287932,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
35545,35546,12,31,2002,15,29.287932,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
35546,35547,12,31,2002,10,15.000000,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
35547,35548,12,31,2002,7,36.000000,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
35548,35549,12,31,2002,5,29.287932,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [39]:
df_weight_discretized_equal_width.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35549 entries, 0 to 35548
Data columns (total 64 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   record_id        35549 non-null  int64
 1   month            35549 non-null  int64
 2   day              35549 non-null  int64
 3   year             35549 non-null  int64
 4   plot_id          35549 non-null  int64
 5   hindfoot_length  35549 non-null  float64
 6   sex_F            35549 non-null  int64
 7   sex_M            35549 non-null  int64
 8   species_id_AB    35549 non-null  int64
 9   species_id_AH    35549 non-null  int64
 10  species_id_AS    35549 non-null  int64
 11  species_id_BA    35549 non-null  int64
 12  species_id_CB    35549 non-null  int64
 13  species_id_CM    35549 non-null  int64
 14  species_id_CQ    35549 non-null  int64
 15  species_id_CS    35549 non-null  int64
 16  species_id_CT    35549 non-null  int64
 17  species_id_CU    35549 non-null  int64
 18  species_id_CV    35549 non-null  int64
 19  species_id_DM    35549 non-null  int64
 20  species_id_DO    35549 non-null  int64
 21  species_id_DS    35549 non-null  int64
 22  species_id_DX    35549 non-null  int64
 23  species_id_NL    35549 non-null  int64
 24  species_id_OL    35549 non-null  int64
 25  species_id_OT    35549 non-null  int64
 26  species_id_OX    35549 non-null  int64
 27  species_id_PB    35549 non-null  int64
 28  species_id_PC    35549 non-null  int64
 29  species_id_PE    35549 non-null  int64
 30  species_id_PF    35549 non-null  int64
 31  species_id_PG    35549 non-null  int64
 32  species_id_PH    35549 non-null  int64
 33  species_id_PI    35549 non-null  int64
 34  species_id_PL    35549 non-null  int64
 35  species_id_PM    35549 non-null  int64
 36  species_id_PP    35549 non-null  int64
 37  species_id_PU    35549 non-null  int64
 38  species_id_PX    35549 non-null  int64
 39  species_id_RF    35549 non-null  int64
 40  species_id_RM    35549 non-null  int64
 41  species_id_RO    35549 non-null  int64
 42  species_id_RX    35549 non-null  int64
 43  species_id_SA    35549 non-null  int64
 44  species_id_SC    35549 non-null  int64
 45  species_id_SF    35549 non-null  int64
 46  species_id_SH    35549 non-null  int64
 47  species_id_SO    35549 non-null  int64
 48  species_id_SS    35549 non-null  int64
 49  species_id_ST    35549 non-null  int64
 50  species_id_SU    35549 non-null  int64
 51  species_id_UL    35549 non-null  int64
 52  species_id_UP    35549 non-null  int64
 53  species_id_UR    35549 non-null  int64
 54  species_id_US    35549 non-null  int64
 55  species_id_ZL    35549 non-null  int64
 56  weight_range1    35549 non-null  uint8
 57  weight_range2    35549 non-null  uint8
 58  weight_range3    35549 non-null  uint8
 59  weight_range4    35549 non-null  uint8
 60  weight_range5    35549 non-null  uint8
 61  weight_range6    35549 non-null  uint8
 62  weight_range7    35549 non-null  uint8
 63  weight_range8    35549 non-null  uint8
dtypes: float64(1), int64(55), uint8(8)
memory usage: 15.5 MB

## Equal-Frequency Discretization

In [40]:
pd.qcut(df['weight'], 8)

0        (-0.001, 8.0]
1        (-0.001, 8.0]
2        (-0.001, 8.0]
3        (-0.001, 8.0]
4        (-0.001, 8.0]
             ...
35544    (-0.001, 8.0]
35545    (-0.001, 8.0]
35546      (8.0, 16.0]
35547     (47.0, 55.0]
35548    (-0.001, 8.0]
Name: weight, Length: 35549, dtype: category
Categories (8, interval[float64, right]): [(-0.001, 8.0] < (8.0, 16.0] < (16.0, 23.0] < (23.0, 32.0] < (32.0, 41.0] < (41.0, 47.0] < (47.0, 55.0] < (55.0, 280.0]]

In [41]:
pd.qcut(df['weight'], 8, 
       labels=['weight_range1', 'weight_range2', 'weight_range3', 'weight_range4',
               'weight_range5', 'weight_range6', 'weight_range7', 'weight_range8'])

0        weight_range1
1        weight_range1
2        weight_range1
3        weight_range1
4        weight_range1
             ...
35544    weight_range1
35545    weight_range1
35546    weight_range2
35547    weight_range7
35548    weight_range1
Name: weight, Length: 35549, dtype: category
Categories (8, object): ['weight_range1' < 'weight_range2' < 'weight_range3' < 'weight_range4' < 'weight_range5' < 'weight_range6' < 'weight_range7' < 'weight_range8']

In [42]:
pd.get_dummies(
    pd.qcut(df['weight'], 8, 
       labels=['weight_range1', 'weight_range2', 'weight_range3', 'weight_range4', 
               'weight_range5', 'weight_range6', 'weight_range7', 'weight_range8'])
)

,weight_range1,weight_range2,weight_range3,weight_range4,weight_range5,weight_range6,weight_range7,weight_range8
0,1,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
35544,1,0,0,0,0,0,0,0
35545,1,0,0,0,0,0,0,0
35546,0,1,0,0,0,0,0,0
35547,0,0,0,0,0,0,1,0
35548,1,0,0,0,0,0,0,0

In [43]:
pd.get_dummies(
    pd.qcut(df['weight'], 8, 
       labels=['weight_range1', 'weight_range2', 'weight_range3', 'weight_range4', 
               'weight_range5', 'weight_range6', 'weight_range7', 'weight_range8'])
).tail(50)

,weight_range1,weight_range2,weight_range3,weight_range4,weight_range5,weight_range6,weight_range7,weight_range8
35499,0,0,0,1,0,0,0,0
35500,0,0,0,0,0,0,1,0
35501,0,1,0,0,0,0,0,0
35502,0,0,0,1,0,0,0,0
35503,0,0,0,1,0,0,0,0
35504,0,0,0,1,0,0,0,0
35505,1,0,0,0,0,0,0,0
35506,0,0,0,0,1,0,0,0
35507,0,0,0,0,1,0,0,0
35508,0,0,0,0,0,1,0,0
35509,0,0,0,1,0,0,0,0
35510,1,0,0,0,0,0,0,0
35511,1,0,0,0,0,0,0,0
35512,1,0,0,0,0,0,0,0
35513,0,0,1,0,0,0,0,0
35514,1,0,0,0,0,0,0,0
35515,0,0,0,0,0,0,1,0
35516,0,0,0,0,0,1,0,0
35517,0,0,0,0,1,0,0,0
35518,0,0,0,0,0,0,1,0
35519,0,0,0,0,1,0,0,0
35520,0,0,0,0,0,0,1,0
35521,0,0,0,0,0,1,0,0
35522,0,0,0,0,0,1,0,0
35523,0,0,0,1,0,0,0,0
35524,0,0,0,1,0,0,0,0
35525,0,0,0,1,0,0,0,0
35526,0,0,0,0,0,1,0,0
35527,1,0,0,0,0,0,0,0
35528,0,0,0,1,0,0,0,0
35529,1,0,0,0,0,0,0,0
35530,1,0,0,0,0,0,0,0
35531,0,0,0,0,0,1,0,0
35532,0,0,0,0,0,0,1,0
35533,0,0,0,0,0,0,0,1
35534,0,0,0,0,0,0,1,0
35535,0,0,0,0,0,1,0,0
35536,0,0,0,0,0,1,0,0
35537,0,0,0,1,0,0,0,0
35538,0,0,0,0,0,0,0,1
35539,0,0,1,0,0,0,0,0
35540,0,0,0,1,0,0,0,0
35541,0,0,0,1,0,0,0,0
35542,0,0,0,0,1,0,0,0
35543,1,0,0,0,0,0,0,0
35544,1,0,0,0,0,0,0,0
35545,1,0,0,0,0,0,0,0
35546,0,1,0,0,0,0,0,0
35547,0,0,0,0,0,0,1,0
35548,1,0,0,0,0,0,0,0

In [44]:
df_weight_discretized_equal_freq = pd.concat([df, 
                                               pd.get_dummies(pd.qcut(df['weight'], 8, 
                                               labels=['weight_range1', 'weight_range2', 
                                                       'weight_range3', 'weight_range4', 
                                                       'weight_range5', 'weight_range6', 
                                                       'weight_range7', 'weight_range8'])
                                            )], axis=1)
del df_weight_discretized_equal_freq['weight']
df_weight_discretized_equal_freq

,record_id,month,day,year,plot_id,hindfoot_length,sex_F,sex_M,species_id_AB,species_id_AH,...,species_id_US,species_id_ZL,weight_range1,weight_range2,weight_range3,weight_range4,weight_range5,weight_range6,weight_range7,weight_range8
0,1,7,16,1977,2,32.000000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,2,7,16,1977,3,33.000000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,3,7,16,1977,2,37.000000,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,4,7,16,1977,7,36.000000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,5,7,16,1977,3,35.000000,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35544,35545,12,31,2002,15,29.287932,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
35545,35546,12,31,2002,15,29.287932,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
35546,35547,12,31,2002,10,15.000000,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
35547,35548,12,31,2002,7,36.000000,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
35548,35549,12,31,2002,5,29.287932,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [45]:
df_weight_discretized_equal_freq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35549 entries, 0 to 35548
Data columns (total 64 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   record_id        35549 non-null  int64
 1   month            35549 non-null  int64
 2   day              35549 non-null  int64
 3   year             35549 non-null  int64
 4   plot_id          35549 non-null  int64
 5   hindfoot_length  35549 non-null  float64
 6   sex_F            35549 non-null  int64
 7   sex_M            35549 non-null  int64
 8   species_id_AB    35549 non-null  int64
 9   species_id_AH    35549 non-null  int64
 10  species_id_AS    35549 non-null  int64
 11  species_id_BA    35549 non-null  int64
 12  species_id_CB    35549 non-null  int64
 13  species_id_CM    35549 non-null  int64
 14  species_id_CQ    35549 non-null  int64
 15  species_id_CS    35549 non-null  int64
 16  species_id_CT    35549 non-null  int64
 17  species_id_CU    35549 non-null  int64
 18  species_id_CV    35549 non-null  int64
 19  species_id_DM    35549 non-null  int64
 20  species_id_DO    35549 non-null  int64
 21  species_id_DS    35549 non-null  int64
 22  species_id_DX    35549 non-null  int64
 23  species_id_NL    35549 non-null  int64
 24  species_id_OL    35549 non-null  int64
 25  species_id_OT    35549 non-null  int64
 26  species_id_OX    35549 non-null  int64
 27  species_id_PB    35549 non-null  int64
 28  species_id_PC    35549 non-null  int64
 29  species_id_PE    35549 non-null  int64
 30  species_id_PF    35549 non-null  int64
 31  species_id_PG    35549 non-null  int64
 32  species_id_PH    35549 non-null  int64
 33  species_id_PI    35549 non-null  int64
 34  species_id_PL    35549 non-null  int64
 35  species_id_PM    35549 non-null  int64
 36  species_id_PP    35549 non-null  int64
 37  species_id_PU    35549 non-null  int64
 38  species_id_PX    35549 non-null  int64
 39  species_id_RF    35549 non-null  int64
 40  species_id_RM    35549 non-null  int64
 41  species_id_RO    35549 non-null  int64
 42  species_id_RX    35549 non-null  int64
 43  species_id_SA    35549 non-null  int64
 44  species_id_SC    35549 non-null  int64
 45  species_id_SF    35549 non-null  int64
 46  species_id_SH    35549 non-null  int64
 47  species_id_SO    35549 non-null  int64
 48  species_id_SS    35549 non-null  int64
 49  species_id_ST    35549 non-null  int64
 50  species_id_SU    35549 non-null  int64
 51  species_id_UL    35549 non-null  int64
 52  species_id_UP    35549 non-null  int64
 53  species_id_UR    35549 non-null  int64
 54  species_id_US    35549 non-null  int64
 55  species_id_ZL    35549 non-null  int64
 56  weight_range1    35549 non-null  uint8
 57  weight_range2    35549 non-null  uint8
 58  weight_range3    35549 non-null  uint8
 59  weight_range4    35549 non-null  uint8
 60  weight_range5    35549 non-null  uint8
 61  weight_range6    35549 non-null  uint8
 62  weight_range7    35549 non-null  uint8
 63  weight_range8    35549 non-null  uint8
dtypes: float64(1), int64(55), uint8(8)
memory usage: 15.5 MB