In [1]:
#q3

import pandas as pd
html_tables = pd.read_html('https://www.premierleague.com/stats/top/players/goals?se=-1')
len(html_tables)

1

In [4]:
table=html_tables[0]

In [5]:
table

,Rank,Player,Club,Nationality,Stat,Unnamed: 5
0,1,Alan Shearer,-,England,260,NaN
1,2,Wayne Rooney,-,England,208,NaN
2,3,Andrew Cole,-,England,187,NaN
3,4,Sergio Agüero,-,Argentina,184,NaN
4,5,Frank Lampard,-,England,177,NaN
5,6,Thierry Henry,-,France,175,NaN
6,7,Harry Kane,Tottenham Hotspur,England,170,NaN
7,8,Robbie Fowler,-,England,163,NaN
8,9,Jermain Defoe,-,England,162,NaN
9,10,Michael Owen,-,England,150,NaN
10,11,Les Ferdinand,-,England,149,NaN
11,12,Teddy Sheringham,-,England,146,NaN
12,13,Robin van Persie,-,Netherlands,144,NaN
13,14,Jimmy Floyd Hasselbaink,-,Netherlands,127,NaN
14,14,Jamie Vardy,Leicester City,England,127,NaN
15,16,Robbie Keane,-,Ireland,126,NaN
16,17,Nicolas Anelka,-,France,125,NaN
17,18,Dwight Yorke,-,Trinidad & Tobago,123,NaN
18,19,Steven Gerrard,-,England,120,NaN
19,20,Romelu Lukaku,Chelsea,Belgium,118,NaN

In [6]:
del table['Unnamed: 5']

In [7]:
table

    Rank                   Player               Club        Nationality  Stat
0      1             Alan Shearer                  -            England   260
1      2             Wayne Rooney                  -            England   208
2      3              Andrew Cole                  -            England   187
3      4            Sergio Agüero                  -          Argentina   184
4      5            Frank Lampard                  -            England   177
5      6            Thierry Henry                  -             France   175
6      7               Harry Kane  Tottenham Hotspur            England   170
7      8            Robbie Fowler                  -            England   163
8      9            Jermain Defoe                  -            England   162
9     10             Michael Owen                  -            England   150
10    11            Les Ferdinand                  -            England   149
11    12         Teddy Sheringham                  -            England   146
12    13         Robin van Persie                  -        Netherlands   144
13    14  Jimmy Floyd Hasselbaink                  -        Netherlands   127
14    14              Jamie Vardy     Leicester City            England   127
15    16             Robbie Keane                  -            Ireland   126
16    17           Nicolas Anelka                  -             France   125
17    18             Dwight Yorke                  -  Trinidad & Tobago   123
18    19           Steven Gerrard                  -            England   120
19    20            Romelu Lukaku            Chelsea            Belgium   118

In [8]:
table.to_csv("panas_dataset_3from_web_page.csv", index=False)